input.formsCadastro,
select.formsCadastro {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    margin: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    color: dimgray;
}

button.formsEnviar {
        display: flex;
        justify-content: center;
        width: 70%;
        padding: 10px;
        color: #fff;
        text-decoration: none;
        border-radius: 10px;
        margin: 15px;
        background-color: darkslategray;
}

button.formsExcluir {
    display: flex;
    justify-content: center;
    width: 70%;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    margin: 15px;
    background-color: firebrick;
}



