input.formsCadastro,
select.formsCadastro {
    width: 100%;
    max-width: 300px; /* Defina a largura máxima desejada */
    min-width: 200px;
    height: auto;
    display: block;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: black;
    margin: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    color: dimgray;
    padding: 7px 5px;
    word-wrap: break-word;
}

textarea.formsCadastro {
    width: 100%;
    min-height: 100px;
    max-height: 300px;
    max-width: 300px;
    min-width: 200px;
    height: auto;
    display: block;
    background-color: black;
    margin: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    color: dimgray;
    padding: 7px 5px;;
}

input[type="date"] {
    padding: 0 5px;
}

button.formsEnviar {
        display: flex;
        justify-content: center;
        width: 70%;
        padding: 10px;
        color: #fff;
        text-decoration: none;
        border-radius: 10px;
        margin: 15px;
        background-color: darkslategray;
}

button.formsExcluir {
    display: flex;
    justify-content: center;
    width: 70%;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    margin: 15px;
    background-color: firebrick;
}

