.tittleConsulta {
    color: white;
    margin: 10px;
}

.containerConsulta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  background-color: #333333;
  height: 77vh;
  width: 95%;
  margin: auto;
  border-radius: 10px;
}

.filtro button {
    textAlign: center;
    display: inline-block;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    margin: 10px;
    background-color: darkslategray;
}

.filtro input {
    color: white;
}

.filtro input::placeholder {
    color: white;
}


.filtrar {
    height: 40px;
    width: 100px;
}

.adicionar {
   position: relative;
   left: 10%;
    height: 40px;
    width: 150px;
}

.filtro input {
    width: 300px;
    height: 30px;
    background-color: black;
    margin: 10px;
    border-radius: 10px;
}

.filtro select {
    width: 300px;
    height: 30px;
    background-color: black;
    margin: 10px;
    border-radius: 10px;
    color: white;
}

.table {
    width: 98%;
    margin-top: 20px;
    position: relative;
    left: 1%;
    border-radius: 15px; /* Adiciona cantos arredondados */
    overflow: hidden;
}

.table th, .table td {
    padding: 10px;
    text-align: center;
    background-color: white;
    color: black;
}

.table th {
    background-color: darkslategray;
    color: white;
}

.pager {
    position: fixed;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    color: white;
    width: 50%;
    border-radius: 10px;
}

.pager button {
    margin: 0 5px;
    background-color: black;
    color: white;
    border-radius: 10px;
}

.pager input {
    background-color: black;
    color: white;
    margin: 10px;
    border-radius: 10px;
}