.tittleCadastro {
    color: white;
    margin: 10px;
    margin-top: 0;
    position: absolute;
    top: 3%;
    left: 1%;
}

.containerCadastro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #333333;
    height: 70vh;
    width: 70%;
    margin: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttonsCadastro button {
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
}

.voltarCadastro {
    display: flex;
    justify-content: center;
    width: 15vh;
    padding: 10px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    background-color: black;
    position: fixed;
    right: 3vh;
    top: 3vh;
}