.containerApp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

img {
  margin-bottom: -100px;
}

.entrarApp {
  textAlign: center;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  border-radius: 20px;
  height: 40px;
  width: 200px;
  background-color: darkslategray;
}
