.container {
  display: flex;
  flex-direction: column; /* Empilhe os elementos verticalmente */
  justify-content: center; /* Centralize verticalmente */
  align-items: center; /* Centralize horizontalmente */
  height: 90vh; /* Preencha a altura da tela */
}

img {
  margin-bottom: -100px;
}

.entrar {
  textAlign: center;
  display: inline-block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  border-radius: 20px;
  margin: 5px;
  height: 20px;
  width: 200px;
  background-color: darkslategray;
}

.cadastrar {
  textAlign: center;
  display: inline-block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  border-radius: 20px;
  margin: 5px;
  height: 20px;
  width: 200px;
  background-color: darkgrey;
}