.container {
  display: flex;
  flex-direction: column; /* Empilhe os elementos verticalmente */
  justify-content: center; /* Centralize verticalmente */
  align-items: center; /* Centralize horizontalmente */
  height: 90vh; /* Preencha a altura da tela */
}

img {
  margin-bottom: -100px;
}

button {
  margin: 10px;
  border-radius: 10px;
  height: 35px;
  width: 200px;
}

.entrar {
  background-color: darkslategray;
}

.cadastrar {
  background-color: darkgrey;
}